{% extends 'partials/base.html' %}

{%block content%}

<div class="chartBox">
  <canvas id="myChart"width="700"></canvas>
<div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% comment %} <script> {% endcomment %}
 {% comment %} var alldata = [{%for a in personcourses%}
  { course : '{{a.course}}', person :  '{{a.person}}', amount: {{a.amount}} },
  {%endfor%}];
   console.log(alldata) 

  const ctx = document.getElementById('myChart');

  const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{%for a in personcourses%}'{{a.course}}',{%endfor%}],
      datasets: [{
        label: 'Amount',
        data: [{%for a in personcourses%}  {{a.amount}},{%endfor%}],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        x: {
          stacked: true,
        },
        y: {
          beginAtZero: true,
            stacked: true,
        }
      }
    }
  }); {% endcomment %}


  {% comment %} <script> {% endcomment %}
    {% comment %} var alldata = [{%for course in personcourses%}{%if course.course.type == 'O1' %}
    { course: '{{course.course}}' person :  '{{course.person}}', amount: {{course.amount}} },
    {%endif%}{%endfor%}]; {% endcomment %}

    <script>
       
      var lineChartData = {
          labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31'],
          datasets: []
      },
          array = [{%for a in personcourses%}
                  { Teaching: '{{a.course}}', Lecturer :  '{{a.person}}', Pourcent: {{a.amount}} },
                  {%endfor%}
                  ];
          Teaching =[{%for a in personcourses%}{%if a.course.type == 'O1' %}{%if a.course.semester == 'H' %}{%ifchanged%}
                 '{{a.course}}',{%endifchanged%}{%endif%}{%endif%}{%endfor%}
                 ];


          Lecturer =[{%for a in personcourses%}
          {%ifchanged%}'{{a.person}}',{%endifchanged%}{%endfor%}
          ];

          let unique_lecturer = Lecturer.filter(function(value, index, array) {
            return array.indexOf(value) === index;
          });
          


          //console.log(unique_lecturer[0])
                   // console.log(Teaching)

          console.log(unique_lecturer);
          //console.log(array)
          //let i = 0 ;

          array_H_01 = [];

          console.log(array_H_01)

         for (k = 0; k < unique_lecturer.length ; k++){
          for ( i = 0; i < array.length; i++) { 
            //console.log(array.length,array[i].Teaching)
            //console.log(array[i].Lecturer,unique_lecturer[k])
             
            for (j = 0; j < Teaching.length ; j++){
              //for (k = 0; k < unique_lecturer ; k++){
                //console.log(Teaching[j],array[i].Teaching)
                if ((Teaching[j] == array[i].Teaching) && (unique_lecturer[k] == array[i].Lecturer)){
                  console.log(Teaching[j])
                  console.log(unique_lecturer[k])
                  console.log(array[i].Pourcent)
                  new_array_H_01 =[ Teaching[j],unique_lecturer[k],array[i].Pourcent]
                  array_H_01=array_H_01+new_array_H_01
                  console.log(array_H_01)
                  
                }
                else {
                  new_array_H_01 =[ Teaching[j],unique_lecturer[k],0]

                }
                

              }
              //j++;
            //} 
            
          }
         }
          {% comment %} for ( i = 0; i < array.length; i++) { 
            for (j = 0; j < Teaching.length ; j++) {
              for (k = 0; k < unique_lecturer ; k++) {
                console.table(array[i].Lecturer);
                console.table(array[i].Teaching);
                console.table(array[i].Pourcent);
                console.log(i,j,k) ;
                k++;

                if ((unique_lecturer[k] == array[i].Lecturer) && (Teaching[j] == array[i].Teaching)){
                 console.log(unique_lecturer[k],Teaching[j] );
                }
              
              }
              j++;
            }
            i++;
          } {% endcomment %}
          
          

              {% comment %} "[0,0,0,0,0,0,0,0,0,0,0,0,0,58,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]",
              "[0,0,53,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]",
              "[0,0,381,0,0,649,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]"
                  ]; {% endcomment %}
                  {% comment %} array = [
                  "[0,0,0,0,0,0,0,0,0,0,0,0,0,58,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]",
                  "[0,0,53,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]",
                  "[0,0,381,0,0,649,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]"
                      ]; {% endcomment %}

      array.forEach(function (a, i) {
          lineChartData.datasets.push({
              label: 'Label ' + i,
              fillColor: 'rgba(220,220,220,0.2)',
              strokeColor: 'rgba(220,220,220,1)',
              pointColor: 'rgba(220,220,220,1)',
              pointStrokeColor: '#fff',
              pointHighlightFill: '#fff',
              pointHighlightStroke:
                  'rgba(220,220,220,1)',
              data: JSON.parse(a)
          });
      });

      const ctx = document.getElementById('myChart');

      new Chart(ctx, {
          type: 'bar',
          data: {
              labels: lineChartData.labels,
              datasets: lineChartData.datasets
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
  </script>
 </script>

</div> {%endblock%}





